@page "/"
@using BlazorApp.Data
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory
@inject HttpClient Http
@inject NavigationManager Navigation

<div>
    <h1>Todo Items</h1>
    @if (todos != null)
    {
        <button @onclick='() => ViewCompleted()'>View All Items</button>
    }
    <button @onclick='() => Navigation.NavigateTo("/post")'>Create New Todo</button>
</div>

@if (todos is null)
{
    <p>Unable to get todo items from API. Please try again later.</p>
}
else
{
    <ul>
        @foreach (var todo in todos)
        {
            <li 
                style="cursor: pointer;"
             >

                <div @onclick='() => Navigation.NavigateTo("/todo/"+ todo.Id)'>@todo.Name</div>
                <button @onclick='() => CompleteTodo(todo)'>Complete</button>
            </li>
        }
    </ul>
}

@code {
    private TodoItem[] todos = Array.Empty<TodoItem>();

    protected override async Task OnInitializedAsync()
    {
        todos = await Http.GetFromJsonAsync<TodoItem[]>("https://localhost:7197/api/TodoItems?showCompleted=false");

    }

    private void ViewCompleted()
    {
        Navigation.NavigateTo("/completed");
    }

    private async void CompleteTodo(TodoItem item)
    {
        TodoItem newItem = item;
        newItem.IsComplete = true;
        await Http.PutAsJsonAsync<TodoItem>("https://localhost:7197/api/TodoItems/" + newItem.Id, newItem);
        StateHasChanged();
    }
}
