@page "/post"
@using BlazorApp.Data
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="header">
    <h1>Create a Todo Item</h1>
</div>

<form class="post-form" method="post" @onsubmit="Submit">
    <div class="input-container">
        <label>Name</label>
        <input input value="@item.Name"
               @oninput="(e)=> {item.Name = e.Value.ToString(); if (string.IsNullOrEmpty(e.Value.ToString())) {isDisabled = true;} else {isDisabled=false;};}" />
    </div>
    <div class="post-form-buttons">
        <button type="button" @onclick='() => Cancel()'>Cancel</button>
        <button type="submit" disabled="@isDisabled">Submit</button>
    </div>
    
</form>

@code {
    private TodoItem item = new TodoItem
        {
            Name = "",
            IsComplete = false
    };

    private bool isDisabled = true;

    private async void Submit()
    {
        await Http.PostAsJsonAsync<TodoItem>("https://localhost:7197/api/TodoItems/", item);
        Cancel();
    }

    // private void onChange(System.Windows.Forms.KeyEventArgs args)
    // {
    //     item.Name = (string)args.Value;
    //     isDisabled = item.Name == "" ? true : false;
    //     StateHasChanged();
    // }

    private void Cancel()
    {
        Navigation.NavigateTo("/");
    }
}
