@page "/post"
@using BlazorApp.Data
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Create a Todo Item</h3>

<form method="post" @onsubmit="Submit">
    <label>Name</label>
    <InputText @bind-Value="item.Name" />
    <button @onclick='() => Cancel()'>Cancel</button>
    <button type="submit" @onkeypress='() => Console.WriteLine("hello")'>Submit</button>
</form>

@code {
    private TodoItem item = new TodoItem
        {
            Name = "",
            IsComplete = false
    };

    protected bool IsDisabled = true;

    private void OnType()
    {
        Console.WriteLine(item.Name.Length);
        bool val = item.Name.Length == 0 ? false : true;
        IsDisabled = val;
    }

    private async void Submit()
    {
        await Http.PostAsJsonAsync<TodoItem>("https://localhost:7197/api/TodoItems/", item);
        Cancel();
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/");
    }
}
