@page "/todo/{id}"
@using BlazorApp.Data
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory
@inject HttpClient Http
@inject NavigationManager Navigation

<div>
    <h3>TodoItem</h3>
    @if (item != null)
    {
        <button @onclick='() => Delete()'>Delete</button>
    }
</div>

@if (item is null)
{
    <p>Unable to get todo item from API. Please try again later.</p>
}
else
{
    <form method="put" @onsubmit="Submit">
        <InputText @bind-Value=@item.Name />
        <button @onclick='() => Cancel()'>Cancel</button>
        <button type="submit">Submit</button>
    </form>
}

@code {
    [Parameter]
    public string? id { get; set; }

    private TodoItem item;

    protected override async Task OnInitializedAsync()
    {
        item = await Http.GetFromJsonAsync<TodoItem>("https://localhost:7197/api/TodoItems/" + id);
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/");
    }

    private async void Submit()
    {
        await Http.PutAsJsonAsync<TodoItem>("https://localhost:7197/api/TodoItems/" + id, item);
        Cancel();
    }

    private async void Delete()
    {
        await Http.DeleteFromJsonAsync<TodoItem>("https://localhost:7197/api/TodoItems/" + id);
        Cancel();
    }

}
